* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.select-limpio,
.select-limpio option {
    font-family: 'Montserrat', sans-serif;
}

.select-limpio {
    background: transparent;
    border: none;
    color: #4b5563;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    padding: 5px 10px;
    text-align: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body.dark-mode .select-limpio,
body.dark-mode .estado-texto {
    color: #94a3b8;
}

body.dark-mode .select-limpio option {
    background-color: #1e293b;
    color: #ffffff;
}

.derecha-info {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #666;
}

body.dark-mode .derecha-info {
    color: #94a3b8;
}

/* Colores normales (Modo Claro) */
body {
    background-color: #f4f6f9;
    color: #333333;
}

/* Colores cuando se activa el Modo Oscuro */
body.dark-mode {
    background-color: #0f172a;
    color: #ffffff;
}

body.dark-mode .contenedor,
body.dark-mode .card,
body.dark-mode .opcion {
    background-color: #1e293b;
    color: #ffffff;
}







/* Estilo limpio para el selector de idioma */
.selector-opcion {
    background: transparent;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.95rem;
    color: inherit;
    cursor: pointer;
    outline: none;
    padding-right: 5px;
    text-align: right;
}

body.dark-mode .selector-opcion {
    background-color: #1e293b;
    color: #ffffff;
}