body{
    margin:0;
    padding:0;
    min-height:100vh;
    background:linear-gradient(
        135deg,
        #111827,
        #1e3a8a
    );
    font-family:'Segoe UI',sans-serif;
}

.reporte-container{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.header-reporte{
    width:100%;
    max-width:500px;
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:15px;
    color:white;
}

.header-reporte h2{
    margin:0;
    font-size:1.8rem;
    font-weight:600;
}

.volver{
    text-decoration:none;
    color:white;
    font-size:2rem;
    font-weight:bold;
}

.reporte-card{
    width:75vw;
    max-width:900px;
    min-height:75vh;

    background:white;
    border-radius:25px;
    padding:40px;

    box-shadow:0 10px 30px rgba(0,0,0,.25);

    animation:aparecer .8s ease;
}
@media(max-width:768px){

    .reporte-card{
        width:95%;
        min-height:auto;
        padding:25px;
    }

}

.reporte-card h5{
    margin-bottom:15px;
}

.tipos{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
    margin-top:15px;
}

.tipo-btn{
    height:100px;

    border:none;
    border-radius:15px;

    background:#e5e7eb;

    font-size:1.1rem;
    font-weight:600;

    cursor:pointer;
    transition:.3s;

    display:flex;
    justify-content:center;
    align-items:center;
}

.tipo-btn:hover{
    background:#3b82f6;
    color:white;
}

.tipo-btn.activo,
.tipo-btn.activo:hover{
    background:#2563eb !important;
    color:white !important;
    border:3px solid #1d4ed8;
    box-shadow:0 0 15px rgba(37,99,235,.5);
    transform:scale(1.03);
}

.form-control{
    border-radius:12px;
    padding:12px;
}

.contador{
    text-align:right;
    margin-top:5px;
    color:#6b7280;
}

.btn-enviar{
    width:100%;
    margin-top:25px;
    border:none;
    border-radius:12px;
    padding:14px;
    background:#2563eb;
    color:white;
    font-size:1rem;
    font-weight:600;
    transition:.3s;
}

.btn-enviar:hover{
    background:#1d4ed8;
}

@keyframes aparecer{

    from{
        opacity:0;
        transform:translateY(30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}
.ubicacion-container{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.btn-ubicacion{
    border:none;
    border-radius:12px;
    padding:12px;
    background:#2563eb;
    color:white;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.btn-ubicacion:hover{
    background:#1d4ed8;
}

.opciones-ubicacion{
    display:flex;
    gap:20px;
    margin-bottom:15px;
}

.opciones-ubicacion label{
    font-weight:600;
}

#mapaIncidente{
    height:300px;
    width:100%;
    margin-top:15px;
    border-radius:15px;
    overflow:hidden;
}

.btn-ubicacion{
    width:100%;
    margin-top:10px;
    border:none;
    border-radius:12px;
    padding:12px;
    background:#2563eb;
    color:white;
    font-weight:600;
}