*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:#f5f7fa;
    color:#333;
}

/* Pantallas */
.pantalla{
    display:none;
    min-height:100vh;
    padding:20px;
}

.activa{
    display:block;
}

/* Logo */
.logo{
    text-align:center;
    margin-top:50px;
}

.logo h1{
    color:#003366;
    font-size:40px;
}

.logo p{
    color:#666;
    margin-top:10px;
}

/* Formularios */
input{
    width:100%;
    padding:15px;
    margin:10px 0;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:16px;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#0078D7;
    color:white;
    font-size:16px;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    background:#005fb8;
}

/* Links */
a{
    color:#0078D7;
    text-decoration:none;
}

/* Tarjetas */
.card{
    background:white;
    margin:15px 0;
    padding:15px;
    border-radius:15px;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}

/* Alertas */
.alerta{
    border-left:5px solid red;
}

.segura{
    border-left:5px solid green;
}

/* Perfil */
.avatar{
    width:100px;
    height:100px;
    border-radius:50%;
    background:#ddd;
    margin:auto;
}

/* Barra inferior */
.navbar{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background:white;
    display:flex;
    justify-content:space-around;
    padding:15px;
    box-shadow:0 -2px 10px rgba(0,0,0,.1);
}

.navbar button{
    background:none;
    color:#444;
    width:auto;
    padding:5px;
}

.navbar button:hover{
    color:#0078D7;
}